/*The entire webpage has box-sixing of border-box,that is in a flex or grid container, has padding and margin as 0*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The background color of the webpage is Light grayish green*/
body {
    background-color: #d9dcd6;
}

/*Assigns font color white to the hiperlinks*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Paragraphs have font-size 16px*/
p {
    font-size: 16px;
}

/*The header has padding of 20px, font is Trebuchet MS, background color is blue and font is white*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header h1 shows the word Horiseon in a horizontal line using display inline-block and shows the font size as 48px*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*class = seo, the letters 'seo' in the header have font color Light grayish green*/
header h1 .seo {
    color: #d9dcd6;
}

/* The navigation block has padding, margin, elements float on the right, font is Gill Sans and size is 20px*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*No item marker is shown*/
header nav ul {
    list-style-type: none;
}

/*The items in the li element are displayed horizontally using display: inline-block and the margin is 25px*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/*Section hero has height, width, margin bottom, background image link, background size, and position*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Items in the main have a width, margin left, and display: inline-block*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sections inside main have margin-bottom, padding, height, font of Gill Sans, background color of blue and font color white*/
main section  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* The images used in the three boxes of Search Engine Optimization, Online Reputation Management, 
and Social Media Marketing have an assigned max height*/
main section img {
    max-height: 200px;
}

/* Directs the images in the first and last boxes to the left and assigns a margin from the right*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Directs the image of the middle box to the right and assigns a margin from the left*/
.float-right {
    float: right;
    margin-left: 25px;
} 

/* The subheadings h2 have margin bottom and font size*/
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Section benefits has margin, padding, elements float on the right, width, height, font Gill Sans, and background color light blue*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*section have assigned a margin-bottom and font color white*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Subheaders h3 on the box on the right side of the page have margin and text aligned*/
.benefit-lead h3,  .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Images of sections benefit-lead, brand, and cost start in a new line with display:block,have margin, and max-width */
.benefit-lead img, .benefit-brand img,.benefit-cost img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The footer has assigned padding, clear, font Trebuchet MS and text aligned in the center*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Subheading h4 has assigned font size*/
footer h4 {
    font-size: 20px;
}
